K - nearest neighbours implementation

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/shashank/Downloads/bpp_training_data.csv", header = 0)

In [3]:
last_col = df.pop("SalePrice")

In [4]:
df["SalePrice"] = last_col

In [5]:
df.columns

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'fiModelDesc',
       'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries', 'fiModelDescriptor',
       'ProductSize', 'fiProductClassDesc', 'state', 'ProductGroup',
       'ProductGroupDesc', 'Drive_System', 'Enclosure', 'Forks', 'Pad_Type',
       'Ride_Control', 'Stick', 'Transmission', 'Turbocharged',
       'Blade_Extension', 'Blade_Width', 'Enclosure_Type', 'Engine_Horsepower',
       'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier', 'Tip_Control',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'saleYear', 'saleMonth',
       'saleDay', 'saleDayOfYear', 'SalePrice'],
      dtype='object')

In [6]:
X = df.iloc[:, :-1]
Y = df.iloc[:, -1]

In [7]:
import numpy as np
from sklearn.model_selection import KFold , cross_val_score, train_test_split 
from sklearn.metrics import mean_absolute_error

In [8]:
del df["SalesID"]
del df["MachineID"]

In [9]:
df

,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,fiBaseModel,fiSecondaryDesc,fiModelSeries,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayOfYear,SalePrice
0,8434,132,17,1974,17,0,4593,1744,0,0,...,1,8,6,0,0,1989,1,17,17,9500.0
1,10150,132,31,1980,31,0,1820,559,0,0,...,0,0,0,4,2,1989,1,31,31,14000.0
2,4139,132,31,1978,31,0,2348,713,59,0,...,1,8,6,0,0,1989,1,31,31,50000.0
3,8591,132,31,1980,31,0,1819,558,0,0,...,0,0,0,4,2,1989,1,31,31,16000.0
4,4089,132,31,1984,31,0,2119,683,21,0,...,1,6,5,0,0,1989,1,31,31,22000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,6272,136,78,1000,78,0,4215,1500,0,0,...,0,0,0,0,0,2009,3,19,78,16500.0
299996,12919,136,78,1000,78,0,4216,1501,0,0,...,0,0,0,0,0,2009,3,19,78,17000.0
299997,9580,136,78,2005,78,0,4514,1684,0,0,...,0,0,0,0,0,2009,3,19,78,11500.0
299998,11398,132,78,2005,78,3,1202,354,75,0,...,1,6,6,0,0,2009,3,19,78,32000.0
299999,2144,136,78,2005,78,3,4378,1594,0,0,...,0,0,0,0,0,2009,3,19,78,47500.0

In [10]:
from sklearn.neighbors import NearestNeighbors, KNeighborsRegressor, KNeighborsClassifier
from sklearn.model_selection import cross_val_predict 
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt
import math as m  

cp_knn = make_pipeline(StandardScaler(), KNeighborsRegressor(n_neighbors = 5))
y_pred = cross_val_predict(cp_knn, X, Y, cv = 5)

In [11]:
print(m.sqrt(mean_squared_error(Y,y_pred)))
print(mean_absolute_error(Y,y_pred))
print(r2_score(Y,y_pred))

15367.101855223023
10287.201702666667
0.5471619590159513

In [13]:
metrics_df = pd.DataFrame([("KNN", 15367.101855223023, 10287.201702666667, 0.5471619590159513)], columns = ['Model', 'Root Mean Squared error', 'Mean Absolute Error', 'R2 Score'])

In [14]:
metrics_df

  Model  Root Mean Squared error  Mean Absolute Error  R2 Score
0   KNN             15367.101855         10287.201703  0.547162